.fade-transition {
    transition: opacity .3s ease;
}
.fade-enter, .fade-leave {
    opacity: 0;
}
html,body{
    height: 100%;
    width: 100%;
}
.c-content{
    height: 500px;
    width: 100%;
}
.c-right{
    float: left;
    width: 200px;
    height: 300px;
}